{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chatea-Conecta</title>

    {% block scripts %}
    {% endblock scripts %}

    <link rel="stylesheet" href="{% static 'style/css/main.min.css' %}">

</head>
<body>

    {% include "navigation.html" %}
    {% block header %}
    {% endblock header %}

    <main>
        {% block content %}
        {% endblock content %}
    </main>

</body>
</html>