{% extends "base.html" %}
{% load static %}

{% block scripts %}
    <script defer src="{% static 'js/views/chatView.js' %}"></script>
    <script defer src="{% static 'js/chatScript.js' %}"></script>
{% endblock scripts %}

{% block content %}

    <script type="text/javascript">
        let username = "{{ username }}";
    </script>


    <div class="chat-app">

        <!-- All groups available to chat -->
        <div class="chat-app__groups">
            <ul>
                <li class="chat-app__group"><a href="#" class="chat-app__group-link">Galicia</a></li>
                <li class="chat-app__group"><a href="#" class="chat-app__group-link">Asturias</a></li>
                <li class="chat-app__group"><a href="#" class="chat-app__group-link">Cantabria</a></li>
                <li class="chat-app__group"><a href="#" class="chat-app__group-link">País Vasco</a></li>
                <li class="chat-app__group"><a href="#" class="chat-app__group-link">Navarra</a></li>
                <li class="chat-app__group"><a href="#" class="chat-app__group-link">La Rioja</a></li>
                <li class="chat-app__group"><a href="#" class="chat-app__group-link">Navarra</a></li>
                <li class="chat-app__group"><a href="#" class="chat-app__group-link">Castilla y León</a></li>
                <li class="chat-app__group"><a href="#" class="chat-app__group-link">Aragón</a></li>
                <li class="chat-app__group"><a href="#" class="chat-app__group-link">Cataluña</a></li>
                <li class="chat-app__group"><a href="#" class="chat-app__group-link">Madrid</a></li>
                <li class="chat-app__group"><a href="#" class="chat-app__group-link">Extremadura</a></li>
                <li class="chat-app__group"><a href="#" class="chat-app__group-link">Castilla-La Mancha</a></li>
                <li class="chat-app__group"><a href="#" class="chat-app__group-link">Comunidad Valenciana</a></li>
                <li class="chat-app__group"><a href="#" class="chat-app__group-link">Región de Murcia</a></li>
                <li class="chat-app__group"><a href="#" class="chat-app__group-link">Andalucía</a></li>
            </ul>
        </div>

        <!-- Where user can write chat messages -->
        <div class="chat">
            <!-- <div class="chat__header">Madrid (287)</div>

            <div id="chat-messages" class="chat__messages margin-top-xsmall">

                <div class="chat__message">
                    <h5 class="chat__message-user">Paulo</h5>
                    <p class="chat__message-text">This is the message send by Paulo</p>
                </div>
                <div class="chat__message chat__message--current-user">
                    <h5 class="chat__message-user">Dias</h5>
                    <p class="chat__message-text">This is the message send by Cris</p>
                    <p class="chat__message-text">This is the message sThis is the message send by Dias and some more text ehere</p>
                </div>

                <div class="chat__message">
                    <h5 class="chat__message-user">Paulo</h5>
                    <p class="chat__message-text">This is the message send by Paulo</p>
                </div>

            </div>
            <form id="chat-form" class="chat-form margin-top-xsmall" action="">
                <input class="chat-form-input" type="text">
                <button class="chat-form-btn" type="submit">Submit</button>
            </form> -->
        </div>

    </div>

{% endblock %}