{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chatea-conecta</title>
    <link rel="stylesheet" href="{% static 'style/css/main.css' %}">
</head>
<body>
    
    <nav>
        <span>Chatea-Conecta</span>
        <a href="">Inicio</a>
        <a href="/chat.html">Salas</a>
        <a href="">Colabora</a>
    </nav>

    <header>
        <h1>Chatea-Conecta</h1>

        <form>
            <input type="text" placeholder="Escribe tu apodo...">
            <button type="submit">Chatear</button>
        </form>

    </header>

</body>
</html>