{% load static %}
{% load i18n %}

<nav class="nav-bar">
    <span class="nav-bar-logo">
        <h3 class="heading-tertiary heading-tertiary-white">Chatea-Conecta</h3>
        <object type="image/svg+xml" data="{% static 'img/smile-chat-bubble.svg' %}" class="nav-bar-logo-svg" aria-label="Chatea conecta Logo"></object>
    </span>

    <input type="checkbox" id="nav-toggle" class="nav-bar__toggle" aria-hidden="true">
    <label for="nav-toggle" class="nav-bar__toggle-btn" aria-label="Toggle navigation menu">
        <span></span>
        <span></span>
        <span></span>
    </label>

    <div class="nav-bar__menu">
        {% if username %}
            <button class="side-menu--btn nav-chat-trigger" id="side-menu-btn" type="button" aria-label="Open chats menu">
                <svg viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg" aria-hidden="true">
                    <path d="M4 6H20M4 12H20M4 18H14" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
                </svg>
                <span>{% trans "Chats" %}</span>
            </button>
            <form action="{% url 'chat:close-chat' %}" method="POST">
                {% csrf_token %}
                <button class="btn btn-close-session" type="submit">{% trans "Leave chat" %}</button>
            </form>
        {% else %}
            {% url "chat:home" as home_url %}
            {% if request.path != home_url %}
                <div class="nav-bar__links">
                    <a class="nav-bar-link" href="{% url 'chat:home' %}">
                        <img src="{% static 'img/home-btn.svg' %}" class="nav-bar-link-home" aria-label="Chatea conecta Home" />
                    </a>
                </div>
            {% endif %}
        {% endif %}
    </div>
</nav>
