{% load static %}
{% load i18n %}

<nav class="nav-bar">
    <span class="nav-bar-logo">
        
        <h3 class="heading-tertiary heading-tertiary-white">Chatea-Conecta</h3>
        <object type="image/svg+xml" data="{% static 'img/smile-chat-bubble.svg' %}" class="nav-bar-logo-svg" aria-label="Chatea conecta Logo"></object>
    </span>

    {% if username %}
        <form action="{% url 'chat:close-chat' %}" method="POST">
            {% csrf_token %}
            <button class="btn btn-close-session" type="submit">{% trans "Leave chat" %}</button>
        </form>
    {% else %}
        {% url "chat:home" as home_url %}
        {% if request.path != home_url %}
            <div class="nav-bar__links">
                <a class="nav-bar-link" href="{% url 'chat:home' %}">
                    <img src="{% static 'img/home-btn.svg' %}" class="nav-bar-link-home" aria-label="Chatea conecta Home" />
                </a>
            </div>
        {% endif %}
    {% endif %}
</nav>
