SECRET_KEY=
DJANGO_SETTINGS_MODULE=chat_connect.settings.settings_development

SITE_URL=

# Database
DB_NAME=
DB_USER=
DB_PASSWORD=
DB_PORT=

# Redis
REDIS_PROTOCOL=
REDIS_PASSWORD=
REDIS_PORT=

DJANGO_REDIS_CACHE_DB=
REDIS_DB_CHANNEL=
REDIS_DB_CELERY=

# Email
EMAIL_BACKEND=
EMAIL_HOST=
EMAIL_PORT=
EMAIL_USE_TLS=
EMAIL_HOST_USER=
EMAIL_HOST_PASSWORD=
DEFAULT_FROM_EMAIL=

# Stripe
STRIPE_SECRET_KEY=
STRIPE_WEBHOOK_SECRET=
STRIPE_PRO_MONTHLY_PRICE_ID=

# AWS
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_DEFAULT_REGION=
