[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "==4.2.15"
channels = "==4.1.0"
daphne = "==4.1.2"
channels-redis = "==4.2.0"
aioredis = "==2.0.1"
python-dotenv = "==1.0.1"
celery = "*"

[dev-packages]
django-browser-reload = "*"
black = "*"

[requires]
python_version = "3.9"
