@keyframes moveInRight {
    0% {
        opacity: 0;
        pointer-events: none;
        transform: translateX(10rem);
    }

    100% {
        opacity: 1;
        pointer-events: auto;
        transform: translate(0);
    }
}

@keyframes moveInLeft {
    0% {
        opacity: 0;
        pointer-events: none;
        transform: translateX(-10rem);
    }

    100% {
        opacity: 1;
        pointer-events: auto;
        transform: translate(0rem);
    }
}

@keyframes moveInDown {
    0% {
        opacity: 0;
        transform: translateY(-10rem);
    }

    100% {
        opacity: 1;
        transform: translate(0rem);
    }
}
