body {
    font-family: "Sour Gummy", sans-serif;
    line-height: 1.2;
    // background-color: $color-bg;
}


.heading-primary {
    font-size: 10rem;
    color: $color-dark-amber-1;
    text-shadow: 2px 2px $color-dark-amber-3;
    font-weight: 600;
    text-align: center;

    @include respond(phone) {
        font-size: 6rem;
    }
}

.heading-secondary {
    font-size: 4.2rem;
    font-weight: 500;

    &-white {
        color: $color-white;
    }

    &-dark-amber {
        color: $color-dark-amber-2;
    }
}

.heading-tertiary {
    font-size: 3.4rem;
}

.heading-quaternary {
    font-size: 3rem;
    color: $color-dark-amber-3;
    // text-shadow: 2px 2px $color-dark-amber-3;

    @include respond(phone) {
        font-size: 2rem;
    }
}

.paragraph {
    font-size: 1.6rem;
}

.link-tc {
    cursor: pointer;
    font-weight: 500;
    border-bottom: 1px solid $color-dark-amber-3;
}