body {
    font-family: 'Lato', serif;
    font-weight: 400;
    line-height: 1.2;
    background-color: $color-bg;
}


.heading-primary {

}

.heading-secondary {

}

.heading-tertiary {
}

.heading-quaternary {

}
