
.heading-secondary {
    font-size: 3rem;
    color: $primary-main;


    @include respond(phone) {
        font-size: 2rem;
    }

}

.heading-tertiary {
    font-size: 2.5rem;
    font-weight: 500;
}

.paragraph {
    font-size: 1.6rem;
    color: $text-dark;
}

.link-tc {
    cursor: pointer;
    font-weight: 500;
    border-bottom: 1px solid $text-light;
}