.margin-top-xxsmall {margin-top: 1rem;}
.margin-top-xsmall {margin-top: 2rem;}
.margin-bottom-xsmall {margin-bottom: 2rem;}
.margin-bottom-xxsmall {margin-bottom: 1rem;}
.margin-right-xxsmall {margin-right: 1rem;}
.background-color-text-sending {background-color: $color-light-amber-3 !important;}
.hide {display: none !important;}
.online {fill:$color-green-dark-1;}
.offline {fill: $color-grey-dark-2;}
.selected {background-color: $color-light-amber-3 !important;}