.btn {
    border: 1px solid black;
    padding: 1rem 2rem;
    font-size: 1.6rem;
    border-radius: 1rem;
    background-color: $bg-light;
    cursor: pointer;

    &-home {
        font-size: 1.8rem;
        color: $color-red-wine;
    }
}

.btn-close-session {
    align-self: self-end;
    color: $text-dark;

    &:hover {
        background-color: $bg-dark;
        transition: 0.2s;
    }
}

.side-menu--btn {
    position: absolute;
    left: 100%;
    top: 10%;
    padding: 0.4rem;

    width: 5rem;
    height: 5rem;

    background-color: $bg-light;
    border: 3px solid $color-rose;
    cursor: pointer;
}