.chat-app {

    &__groups {
        // padding: 1rem;
        // display: none;
        overflow-y: scroll;
        width: 25rem;
        animation: moveInLeft;
        animation-duration: 0.5s;
        
        @include respond(tab-land) {
            animation: moveInRight;
            animation-duration: 0.5s;
        }

        @include respond(phone) {
            // width: none;
            // display: none;
            flex-grow: 1;
        }
    }

    &__group {
        list-style-type: none;
        padding: 2rem 2rem;
        background-color: $color-light-amber;
        cursor: pointer;
        display: flex;
        justify-content: space-between;
        align-items: center;


        &:hover {
            background-color: $color-light-amber-2 !important;
        }

        &-link {
            display: flex;
            align-items: center;

            text-decoration: none;
            font-size: 1.4rem;
            color: $color-black;
            text-transform: uppercase;

        }

        &__connected {
            // display: none;
            width: 1rem;
        }

        &:not(:last-child) {
            border-bottom: 2px solid $color-light-amber-2;
            
        }

        &-options {
            width: 2.4rem;

            &:hover {
                fill: rgba(0, 0, 0, 0.5);
            }
        }

    }
}
