.faq {
    padding: 6rem 20rem;
    font-size: 1.6rem;
    line-height: 1.6;

    @include respond(tab-land) {
        padding: 6rem 13rem;
    }

    @include respond(phone) {
        padding: 2rem 3rem;
        font-size: 1.6rem;
        line-height: 1.65;
    }

    &__question {
        border: 0.2rem solid $color-red-wine;
        padding: 1rem 3rem;

        background-color: rgba(255, 255, 255, 0.6);

        @include respond(phone) {
            padding: 1rem 1rem;
        }

        &:not(:last-child) {
            margin-bottom: 2rem;
        }

        &__header {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 1rem 0rem;
            width: 100%;
            border: none;
            background: none;

            @include respond(phone) {
                flex-wrap: wrap;
                justify-content: center;
            }

            & svg {
                @include respond(phone) {
                    width: 3rem;
                }
            }


        }

        & p {
            padding: 1rem 0rem;
            font-size: 1.6rem;
            line-height: 1.6;
        }
    }



}