// COLORS
$color-light-amber: #fef3c7;
$color-light-amber-2: #fcd34d;
$color-light-amber-3: #fde68a;

$color-rose: #D81159;
$color-red-wine: #813c58;

$color-grey-dark: #777;
$color-grey-dark-2: #999;
$color-grey-dark-3: #333;

$color-white: #fff;
$color-black: #000;
