// COLORS
$color-light-amber: #fef3c7;
$color-light-amber-2: #fcd34d;
$color-light-amber-3: #fde68a;

$color-dark-amber-1: #f59e0b;
$color-dark-amber-2: #d97706;
$color-dark-amber-3: #b45309;

$color-green-dark-1: #84cc16;

$color-rose: #D81159;
$color-red-wine: #813c58;

$color-grey-dark: #777;
$color-grey-dark-2: #999;
$color-grey-dark-3: #333;

$color-white: #fff;
$color-black: #000;

// FONT
$default-font-size: 1.6rem;

// Include fonts
@include font-face("Sour Gummy", "SourGummy_Expanded-Thin", 100, normal);
@include font-face("Sour Gummy", "SourGummy_Expanded-ThinItalic", 100, italic);
@include font-face("Sour Gummy", "SourGummy_SemiExpanded-ExtraLight", 200, normal);
@include font-face("Sour Gummy", "SourGummy_SemiExpanded-ExtraLightItalic", 200, italic);
@include font-face("Sour Gummy", "SourGummy_SemiExpanded-Light", 300, normal);
@include font-face("Sour Gummy", "SourGummy_SemiExpanded-Italic", 300, italic);
@include font-face("Sour Gummy", "SourGummy-Regular", 400, normal);
@include font-face("Sour Gummy", "SourGummy-Medium", 500, normal);
@include font-face("Sour Gummy", "SourGummy-SemiBold", 600, normal);
@include font-face("Sour Gummy", "SourGummy-Bold", 700, normal);
@include font-face("Sour Gummy", "SourGummy-ExtraBold", 800, normal);
@include font-face("Sour Gummy", "SourGummy-Black", 900, normal);
  