{% extends "base.html" %}
{% load i18n %}

{% block title %}{% trans "Login" %} | Chatea Conecta{% endblock title %}
{% block description %}{% trans "Sign in to access your account and continue chatting." %}{% endblock description %}
{% block robots %}noindex,nofollow{% endblock robots %}

{% block header %}
<header class="header-privacy">
    <h1 class="heading-primary">{% trans "Login" %}</h1>
</header>
{% endblock header %}

{% block content %}
<section class="privacy-policy" aria-labelledby="login-heading">
    {% if user.is_authenticated %}
        <h2 id="login-heading" class="heading-tertiary heading-tertiary-dark-amber margin-bottom-xsmall">{% trans "You are already signed in" %}</h2>
        <p class="paragraph margin-bottom-xsmall">{% trans "Your account is already active in this browser." %}</p>
        <p class="paragraph"><a href="{% url 'chat:home' %}">{% trans "Go back to chat home" %}</a></p>
    {% else %}
        <h2 id="login-heading" class="heading-tertiary heading-tertiary-dark-amber margin-bottom-xsmall">{% trans "Access your account" %}</h2>
        <p class="paragraph margin-bottom-xsmall">{% trans "Enter your username and password to continue." %}</p>

        {% if form.errors %}
            <p class="message-error margin-bottom-xsmall">{% trans "Please fix the errors below and try again." %}</p>
        {% endif %}

        <form method="post" class="form-nickname" aria-describedby="login-help">
            {% csrf_token %}
            {{ form.as_p }}
            <input type="hidden" name="next" value="{{ next }}">
            <button class="form-nickname__btn" type="submit">{% trans "Log in" %}</button>
        </form>

        <p id="login-help" class="paragraph margin-top-xsmall">
            <a href="{% url 'password_reset' %}">{% trans "Forgot your password? Reset it here." %}</a>
        </p>
        <p class="paragraph">{% trans "Need an account? Signup will be available soon." %}</p>
    {% endif %}
</section>
{% endblock content %}
