{% extends "base.html" %}
{% load i18n %}

{% block title %}{% trans "Password Reset Complete" %} | Chatea Conecta{% endblock title %}
{% block description %}{% trans "Your password has been reset. You can log in now." %}{% endblock description %}
{% block robots %}noindex,nofollow{% endblock robots %}

{% block header %}<header class="header-privacy"><h1 class="heading-primary">{% trans "Password Reset Complete" %}</h1></header>{% endblock header %}

{% block content %}
<section class="privacy-policy" aria-labelledby="reset-complete-heading">
    <h2 id="reset-complete-heading" class="heading-tertiary heading-tertiary-dark-amber margin-bottom-xsmall">{% trans "Password reset successful" %}</h2>
    <p class="paragraph margin-bottom-xsmall">{% trans "Your password has been set. You can sign in now." %}</p>
    <p class="paragraph"><a href="{% url 'login' %}">{% trans "Go to login" %}</a></p>
</section>
{% endblock content %}
