.chat-app {
    margin: 5rem 0rem;
    border: 2px solid $accent-dark;

    display: flex;

    height: 90rem;

    background-color: $bg-medium;

    @include respond(phone) {
        margin: 2rem 0rem;
        height: 60rem;
    }

    &__container {
        display: flex;
        flex-grow: 1;

        padding: 2rem;
        width: 100%;

        @include respond(tab-land) {
            flex-direction: row-reverse;
        }

        @include respond(tab-port) {
            padding: 1rem;
        }

        @include respond(phone) {
            padding: 0rem;
        }
    }
}