.header {
    // border: 1px solid green;
    height: 70vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    &__title {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        
        & h1 {
            text-align: center;
        }

    }
}