.nav-bar {
    background-color: $color-red-wine;

    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;

    @include respond(phone) {
        flex-wrap: wrap;
    }

    &-logo {
        display: flex;
        align-items: center;
        justify-content: center;

        &-svg {
            width: 40px;
            height: 40px;
            filter: invert(100%);
            margin: 0rem 0.6rem;
        }
    }

    & form {
        margin-left: auto;
        margin-right: 2rem;
    }

    &__links {s
        display: flex;

        @include respond(phone) {
            width: 100%;
            justify-content: center;
        }

    }

    &-link {
        font-size: 1.8rem;
        text-decoration: none;
        color: $color-black;
        padding: 0rem 1rem;

        cursor: pointer;

        &:not(:last-child) {
            margin-right: 1rem;
        }

    }
}