.nav-bar {
    background-color: $color-red-wine;

    display: flex;
    justify-content: space-between;
    align-items: center;
    // align-content: center;
    padding: 1rem 2rem;
    min-height: 9vh;

    @include respond(phone) {
        flex-wrap: wrap;
        min-height: 7vh;
        padding: 0rem 1rem;

    }

    &-logo {
        display: flex;
        align-items: center;
        justify-content: center;

        &-svg {
            width: 40px;
            height: 40px;
            filter: invert(100%);
            margin: 0rem 0.6rem;

                @include respond(phone) {
                    width: 30px;
                }
        }

        h2 {
            @include respond(phone) {
                font-size: 2.6rem;
            }
        }
    }

    & form {
        margin-left: auto;
        margin-right: 2rem;
    }

    &__links {
        z-index: 1000;
        display: flex;
        justify-content: flex-end;
        align-items: center;

        padding: 1rem;

        @include respond(phone) {
            justify-content: center;
        }
    }

    &-link {
        border: 0.2rem solid $color-white;
        padding: 0.5rem 1.5rem;
        border-radius: 2rem;

        text-decoration: none;
        color: $color-white;

        cursor: pointer;

        @include respond(phone) {
        }

        &-home {
            width: 32px;
            height: 32px;
        }

    }
}