.nav-bar {
    background-color: $color-red-wine;

    display: flex;
    justify-content: space-between;
    align-items: center;
    // align-content: center;
    padding: 1rem 2rem;
    min-height: 9vh;

    @include respond(phone) {
        flex-wrap: wrap;
        justify-items: center;
    }

    &-logo {
        display: flex;
        align-items: center;
        justify-content: center;

        &-svg {
            width: 40px;
            height: 40px;
            filter: invert(100%);
            margin: 0rem 0.6rem;
        }

        h2 {
            @include respond(phone) {
                font-size: 2.6rem;
            }
        }
    }

    & form {
        margin-left: auto;
        margin-right: 2rem;
    }

    &__links {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        flex-grow: 1;

        padding: 1rem;

        @include respond(phone) {
            justify-content: center;
        }
    }

    &-link {
        border: 0.2rem solid $color-white;
        padding: 1rem 2rem;
        border-radius: 2rem;

        font-size: 2rem;
        text-decoration: none;
        color: $color-white;

        cursor: pointer;

        @include respond(phone) {
        }

    }
}